[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pycodestyle = "*"
autopep8 = "*"

[packages]
requests = "*"
lxml = "*"
nose = "*"

[requires]
python_version = "3.7"
